#header p{
	padding: 8px;
	font-size: 12pt;
}

#header button{
	padding: 4px;
	border: solid 2px #000;
	border-radius: 6px;
	font-size: 4pt;
}

#origin-dot {
	width : 20px;
	height: 20px;
	position: absolute;
	background-color: #00f;
	border-radius: 10px;
	z-index: 999;
	cursor: pointer;
}

.picture {
  position: absolute;
  left: 12.5%;
  top: 50px;
  width: 75%;
  height: 600px;
  background-color: #a34848;
}

#msg_box {
  width: 150px;
  height: 600px;
  margin-top: 32px;
}
